/* Extra */
// for morebutton hover effect

$primary: rgb(210, 210, 238);
$secondary: rgb(238, 234, 196);
$ternary: #272727;
$dark: #444444;
$shadow3:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
$base_color: #004658;
$gray: #dddddd;
$white: #fff;
$black: #161616; 


@import url('https://fonts.googleapis.com/css?family=Mukta:700');

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans);
@import url("http://fonts.googleapis.com/css?family=Kdam Thmor Pro");
@import url("http://fonts.googleapis.com/css?family=Bebas Neue");
@import url("http://fonts.googleapis.com/css?family=PT Sans Narrow");
@import url("http://fonts.googleapis.com/css?family=Rajdhani");
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Bree Serif');
$ffHeading : Bebas Neue;
$ffPara1 : PT Sans Narrow;
$ffPara2 : Rajdhani;
$ffHeading2 : Play;
$ffSubtitle : Bree Serif;

$shadow18: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
$shadow82: rgba(248, 226, 27, 0.56) 0px 22px 70px 4px;
$shadow19:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$shadow81:  rgba(243, 239, 32, 0.774) 0px 30px 90px;
$shadow69:  rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
$shadow55:   rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

$shadow29:  rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
$shadow3:   rgba(0, 0, 0, 0.35) 0px 5px 15px;
$shadow44:   rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

$shadow85:  rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
