@import "../mixin";
@import "../var";


.test_header {
  width: 100%;
  height: 13rem;
  background-color: #027b9a;
  text-align: center;
  .navigation {
    padding-top: 5rem;
    a {
      font-family: $ffHeading;
      font-size: 2rem;
      color: rgb(255, 255, 255);
      text-decoration: none;
    }
  }
}
.allTests {
  margin-top: 4rem;
  margin-bottom: 4rem;

  .row {
    text-align: center;
    h1 {
      font-family: $ffHeading;
    }
    h5 {
      font-size: 1.2rem;
      font-family: $ffPara2;
      font-weight: bold;
    }
    .box {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 10rem;
      margin-top: 2rem;
      width: 100%;
      padding: 0px 0px 0px 0px;
      height: 10rem;
      background-color: aquamarine;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 1rem;
      transition: 400ms;
      box-shadow: $shadow29;
      h4 {
        padding-top: 2rem;
      }

      img {
        @include imgFit;
        width: 100%;
        border-radius: 1rem;
      }
      .text-box {
        background: #0c0d0e86;
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 0%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 100%;
        @include imgFit;
        border-radius: 1rem;
        height: 10rem;
        color: #fff;
      }
      &:hover {
        @include boxHover;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5%;
    margin-top: 4%;
    > a {
      background-color: #ddd;
      color: #636363;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 17px;
      margin: 0.5rem;
      width: 40px;
      height: 40px;
      text-decoration: none;
      position: relative;
      font-family: Helvetica, Arial, sans-serif;
      &:hover {
        background-color: rgb(37, 82, 37);
        color: #fff;
      }
    }
    > span {
      background-color: #ddd;
      color: #636363;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      font-size: 17px;
      margin: 0.5rem;
      width: 40px;
      height: 40px;
      text-decoration: none;
      position: relative;
      font-family: Helvetica, Arial, sans-serif;
      pointer-events: none;
    }
    svg {
      height: 24px;
      width: 24px;
    }
    > a.page-active {
      background-color: green;
      color: #fff;
    }
  }
}

.creator {
  margin-bottom: 4rem;
  margin-top: 4rem;

  .row {
    border: 1px solid #1c6ea4;
    border-radius: 0px 24px 0px 24px;
    padding: 1rem;
    box-shadow: $shadow18;
    transition: 400ms;
    .image {
      height: 18rem;
      width: 100%;
      img {
        @include imgFit;
      }
    }
    .details {
      margin-top: 4rem;
      padding: 0%;
      text-align: center;
      h1 {
        font-family: $ffHeading2;
        font-weight: bold;
      }
      h5 {
        font-family: $ffPara2;
        font-weight: bold;
      }
      @include button;
    }
    &:hover {
      @include boxHover;
    }
  }
}
@media (max-width: 767px) {
  .creator {
    margin-bottom: 4rem;
    margin-top: 4rem;

    .row {
      border: 1px solid #1c6ea4;
      border-radius: 0px 24px 0px 24px;
      padding: 1rem;
      box-shadow: $shadow18;
      transition: 400ms;
      .image {
        height: 18rem;
        img {
          @include imgFit;
          width: 100%;
        }
      }
      .details {
        margin-top: 2rem;
        margin-bottom: 3rem;
        padding: 0%;
        text-align: center;
        h1 {
          font-family: $ffHeading2;
          font-weight: bold;
        }
        h5 {
          font-family: $ffPara2;
          font-weight: bold;
        }
        @include button;
      }
      &:hover {
        @include boxHover;
      }
    }
  }
}

.trending {
  margin-bottom: 4rem;
  .row {
    .trending_topics {
      margin-top: 2rem;
      a{
        text-decoration: none;
        color: rgb(37, 37, 37);
      }

      h1 {
        font-family: $ffHeading2;
        font-weight: bold;
      }
    }
    .topics {
      margin-top: 2rem;
      background-color: #ffff;
      height: 6rem;
      text-align: center;
      margin-bottom: 1rem;
      border-radius: 1rem 0rem;
      box-shadow: -4px 4px 18px 0px rgba(0, 0, 0, 0.411);
      font-size: 1rem;
      cursor: pointer;
     

      h4 {
        padding-top: 1.4rem;
      }
      transition: 400ms;
      &:hover {
        @include TrendHover;
      }
    }

    .popular_section {
      padding-left: 5%;
    }
    .popular {
      background-color: rgb(255, 255, 255);
      padding: 2rem;
      box-shadow: $shadow29;
      padding: 2rem 1rem 2rem 1rem;
      border-radius: 1rem;

      h3 {
        font-weight: 600;
        text-align: center;
        font-family: $ffHeading2;
      }
      ul {
        list-style: none;
        line-height: 170%;
        font-size: 1.2rem;
        font-family: $ffSubtitle;
        li {
          &::before {
            content: "✔";
            padding-right: 0.5rem;
            color: red;
          }
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .trending {
    margin-bottom: 4rem;
    .row {
      .trending_topics {
        margin-top: 2rem;

        h1 {
          font-family: $ffHeading2;
          font-weight: bold;
        }
      }
      .topics {
        margin-top: 2rem;
        background-color: #ffff;
        height: 5rem;
        text-align: center;
        margin-bottom: 1rem;
        border-radius: 2rem 0rem;
        -webkit-box-shadow: -4px 4px 18px 0px rgba(7, 82, 0, 1);
        -moz-box-shadow: -4px 4px 18px 0px rgba(7, 82, 0, 1);
        box-shadow: -4px 4px 18px 0px rgba(7, 82, 0, 1);

        h4 {
          transform: translateY(50%);
        }
      }

      .popular_section {
        padding-left: 2%;
      }
      .popular {
        background-color: rgb(255, 255, 255);
        padding: 2rem;
        box-shadow: $shadow29;
        padding: 2rem 1rem 2rem 1rem;
        border-radius: 1rem;

        h3 {
          text-align: center;
          font-family: $ffHeading2;
        }
        ul {
          list-style: none;
          line-height: 170%;
          font-size: 1.2rem;
          font-family: $ffSubtitle;
          li {
            &::before {
              content: "✔";
              padding-right: 0.5rem;
              color: red;
            }
          }
        }
      }
    }
  }
}



