@charset "UTF-8";
/* Extra */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans);
@import url("http://fonts.googleapis.com/css?family=Kdam Thmor Pro");
@import url("http://fonts.googleapis.com/css?family=Bebas Neue");
@import url("http://fonts.googleapis.com/css?family=PT Sans Narrow");
@import url("http://fonts.googleapis.com/css?family=Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css?family=Bree Serif");
.creator {
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.creator h2 {
  margin-top: 3rem;
  text-align: center;
}

.creator .creator-info {
  margin-top: 1rem;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid;
}

.creator .creator-info .details-creator {
  margin-left: 5%;
  margin-top: 5%;
}

.creator .creator-info .details-creator h5 {
  font-size: 1rem;
}

.creator .creator-info .details-creator h5 span {
  margin-left: 3%;
}

.creator .creator-info .image-div {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 6.5rem;
  margin-top: 4%;
}

.creator .creator-info .image-div img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
}

.creator .note-div {
  width: 40%;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}

.creator .note-div .note {
  text-align: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.creator .note-div .note h5 {
  font-size: 100%;
  padding: 4%;
}

.button-section .for-button {
  height: 5rem;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}

.button-section .for-button .add {
  width: 50%;
  text-align: center;
}

.button-section .for-button .add .My-circle-Button {
  width: 120px;
  height: 40px;
  margin-top: 1rem;
  border-radius: 25px;
  background: none;
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.507);
}

.button-section .for-button .add .My-circle-Button:after {
  content: "✚ Add Questions";
  font-size: 80%;
  line-height: 30px;
  font-weight: 700;
}

.button-section .for-button .add .My-circle-Button:hover {
  background-color: cadetblue;
  border: none;
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.button-section .for-button .add .circle-Button {
  width: 120px;
  height: 40px;
  margin-top: 1rem;
  border-radius: 25px;
  background: none;
  color: #000;
  border: 2px solid rgba(0, 0, 0, 0.507);
}

.button-section .for-button .add .circle-Button:after {
  content: "✚ Create Test";
  font-size: 80%;
  line-height: 30px;
  font-weight: 700;
}

.button-section .for-button .add .circle-Button:hover {
  background-color: cadetblue;
  border: none;
  color: #fff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.view-btn {
  text-align: center;
  margin-left: 1%;
}

.view-btn .butn:link,
.view-btn .butn:visited {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #5e16bd;
  background-image: -webkit-gradient(linear, left top, right top, from(#501aa8), to(#870de8));
  background-image: linear-gradient(90deg, #501aa8, #870de8);
  padding: 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 10rem;
  margin-right: 13px;
  border-radius: 4px;
  border: none;
  color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.view-btn .butn::before {
  background: #fff;
  content: "";
  height: 155px;
  opacity: 0;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 50px;
  -webkit-transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
}

.view-btn .butn::after {
  background: #fff;
  content: "";
  height: 20rem;
  opacity: 0;
  position: absolute;
  top: -50px;
  -webkit-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 8rem;
}

.view-btn .butn__new::before {
  left: -50%;
}

.view-btn .butn__new::after {
  left: -100%;
}

.view-btn .butn:hover,
.view-btn .butn:active {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #fff;
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.view-btn .butn__new:hover::before {
  left: 120%;
  opacity: 0.5s;
}

.view-btn .butn__new:hover::after {
  left: 200%;
  opacity: 0.6;
}

.view-btn .butn span {
  z-index: 20;
}

@media (max-width: 991px) {
  .creator .creator-info {
    width: 50%;
  }
  .creator .creator-info .image-div {
    width: 32%;
  }
  .creator .note-div {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .creator .creator-info {
    width: 80%;
  }
  .creator .creator-info .details-creator h5 {
    font-size: 100%;
  }
  .note-div {
    width: 40%;
  }
  .note-div .note {
    text-align: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 5%;
  }
  .button-section .for-button {
    height: auto;
    width: 50%;
  }
  .view-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    margin-left: 1%;
  }
  .view-btn .butn:link,
  .view-btn .butn:visited {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #5e16bd;
    background-image: -webkit-gradient(linear, left top, right top, from(#501aa8), to(#870de8));
    background-image: linear-gradient(90deg, #501aa8, #870de8);
    padding: 0.5rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 10rem;
    margin-right: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .view-btn .butn::before {
    background: #fff;
    content: "";
    height: 155px;
    opacity: 0;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    -webkit-transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
  }
  .view-btn .butn::after {
    background: #fff;
    content: "";
    height: 20rem;
    opacity: 0;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    -webkit-transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 3000ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 8rem;
  }
  .view-btn .butn__new::before {
    left: -50%;
  }
  .view-btn .butn__new::after {
    left: -100%;
  }
  .view-btn .butn:hover,
  .view-btn .butn:active {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    color: #fff;
    -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  }
  .view-btn .butn__new:hover::before {
    left: 120%;
    opacity: 0.5s;
  }
  .view-btn .butn__new:hover::after {
    left: 200%;
    opacity: 0.6;
  }
  .view-btn .butn span {
    z-index: 20;
  }
}

@media (max-width: 499px) {
  .creator .creator-info {
    width: 80%;
  }
  .button-section .for-button {
    width: 60%;
  }
  .view-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}

@media (max-width: 499px) {
  .creator .creator-info {
    width: 90%;
  }
  .note-div .note {
    margin-top: 10%;
  }
  .button-section .for-button {
    width: 95%;
  }
  .view-btn {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
  }
}
/*# sourceMappingURL=creator.css.map */