@import "../mixin";
@import "../var";



.main{
    min-height: 30rem;
    margin-left: auto;
    margin-right: auto;
    .category-add{
        width: 100%;
        margin-top: 5rem;
        .set-category{
            text-align: center;
            h2{
                font-size: 2rem;
                font-family: $ffHeading;
            }
            .category{
            width: 11rem;
            height: 2rem;
            padding-left: 2%;
            margin-top: 0.5rem;
            font-family: $ffHeading2;
            background-color: darkblue;
            color: $white;
            border-radius: 5px;
        }
        h4{
            font-family: $ffHeading;
            text-align: center;
        }
        a{
            // add question button
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 90%;
            font-family: $ffHeading2;
            &:hover {
                border: none;
                color: blue;
            }
            }
        }
    }
    
    .all-subject{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        .subject{
            width: 11rem;
            height: 2rem;
            padding-left: 2%;
            margin-top: 0.5rem;
            font-family: $ffHeading2;
            background-color: darkblue;
            color: $white;
            border-radius: 5px;
        }
        h4{
            font-family: $ffHeading;
            text-align: center;
        }
        a{
            // add question button
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 90%;
            font-family: $ffHeading2;
            &:hover {
                border: none;
                color: blue;
            }
        }
    }
    
    
    
    .set-details-sec{
        margin-bottom: 5rem;
        margin-top: 1.5rem;
        background-color: #c3ecf7;
        .question-type{
            padding-top: 2rem;
            text-align: center;
            h4{
                font-family: $ffHeading;
            }
            .selectOption{
                padding-left: 2%;
                padding-right: 2%;
                background-color: 	darkblue;
                color: white;
                height: 2rem;
                font-size: 100%;
                font-family: $ffHeading2;
                border-radius: 5px;
                border: none;
                outline: none;
                option{
                    padding: 1%;
                }
            }
        }
        
        .text-area{
            width: 50%;
            padding-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            textarea{
                width: 100%;
                height: 8rem;
                border-radius: 1rem;
                border: none;
                padding: 2%;
                box-shadow: rgba(92, 83, 83, 0.479) 0px 5px 15px 0px;
                &:focus{
                    border: 1px solid cadetblue;
                    outline: none;
                }
            }
            label{
                font-size: 15px;
            }
            #quesField{
                font-size: 10px;
            }
        }
        .form-details{
            margin-top: 1.5rem;
            min-height: auto;
            background-color: $shadow82;

            .optionform{
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                input{
                    margin-top: 2%;
                }
                #textinput{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1rem;
                    height: 2rem;
                    padding-left: 1%;
                    display: block;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                }
                #fileinput{
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    font-size: 10px;
                }
                label{
                    font-weight: 500;
                }
                #ques-clue{
                    background-color: 	darkblue;
                    color: white;
                    height: 1.5rem;
                    margin-top: 5%;
                    font-size: 100%;
                    font-family: $ffHeading2;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    option{
                        padding: 1%;
                    }
                }
            }
            .input-radio{
                padding-top: 1rem;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                #radio-field-1, #radio-field-2{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1.5rem;
                    height: 2rem;
                    padding-left: 1%;
                    display: block;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                }
                #field-label-1, #field-label-2{
                    font-size: 10px;
                }
            }
            .correctAns{
                margin-top: 2rem;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                label{
                    font-weight: 500;
                }
                input{
                    margin-top: 1rem;
                    height: 2rem;
                    padding-left: 1%;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                }
            }
            .radioButton{
                margin-top: 2.5rem;
                width: 50%;
                display: flex;
                margin-left: auto;
                margin-right: auto;
                label{
                    background-color: #c3ecf7;
                    border: none;
                }
            }
        }
        .submit-btn{
            margin-top: 5rem;
            text-align: center;
            @include button;
            padding-bottom: 1rem;
        }
    }
}
@media (max-width: 400px) {
    .main{
        .category-add{
            width: 100%;
            margin-top: 5rem;
            .set-category{
                text-align: center;
                background-color: cyan;
                h2{
                    font-size: 2rem;
                    font-family: $ffHeading;
                }
            .category{
                background-color: red;
                width: 100%;
                display: block;
                .option{
                    max-width: 100% !important;
                    font-size: 100%;
                }
            }
            h4{
                font-family: $ffHeading;
                text-align: center;
            }
            a{
                // add question button
                text-decoration: none;
                color: #000;
                font-weight: 700;
                font-size: 90%;
                font-family: $ffHeading2;
                &:hover {
                    border: none;
                    color: blue;
                }
                }
            }
        }
    }
}