@import "../mixin";
@import "../var";



.main{
    min-height: 30rem;
    margin-left: auto;
    margin-right: auto;
    //select category
    .category-add{
        width: 100%;
        margin-top: 5rem;
        .set-category{
            text-align: center;
            h2{
                font-size: 2rem;
                font-family: $ffHeading;
            }
            .category{
            width: 11rem;
            height: 2rem;
            padding-left: 2%;
            margin-top: 0.5rem;
            font-family: $ffHeading2;
            background-color: darkblue;
            color: $white;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }
        h4{
            font-family: $ffHeading;
            text-align: center;
        }
        a{
            // "add category" button
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 90%;
            font-family: $ffHeading2;
            &:hover {
                border: none;
                color: blue;
            }
            }
        }
    }
    
    // select subject
    .all-subject{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        .subject{
            width: 11rem;
            height: 2rem;
            padding-left: 2%;
            margin-top: 0.5rem;
            font-family: $ffHeading2;
            background-color: darkblue;
            color: $white;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
        }
        h4{
            font-family: $ffHeading;
            text-align: center;
        }
        a{
            // "add subject" question button
            text-decoration: none;
            color: #000;
            font-weight: 700;
            font-size: 90%;
            font-family: $ffHeading2;
            &:hover {
                border: none;
                color: blue;
            }
        }
    }
    
    
    // form
    .set-details-sec{
        margin-bottom: 5rem;
        margin-top: 1.5rem;
        background-color: #c3ecf7;
        .question-type{
            padding-top: 2rem;
            text-align: center;
            h4{
                font-family: $ffHeading;
            }
            .selectOption{
                padding-left: 2%;
                padding-right: 2%;
                background-color: 	darkblue;
                color: white;
                height: 2rem;
                font-size: 100%;
                font-family: $ffHeading2;
                border-radius: 5px;
                border: none;
                outline: none;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                option{
                    padding: 1%;
                }
            }
        }
        
        .text-area{
            width: 50%;
            padding-top: 3rem;
            margin-left: auto;
            margin-right: auto;
            textarea{
                width: 100%;
                height: 8rem;
                border-radius: 1rem;
                border: none;
                padding: 2%;
                box-shadow: rgba(92, 83, 83, 0.479) 0px 5px 15px 0px;
                &:focus{
                    border: 1px solid cadetblue;
                    outline: none;
                }
            }
            label{
                font-size: 15px;
            }
            #quesField{
                font-size: 10px;
            }
        }
        .form-details{
            margin-top: 1.5rem;
            min-height: auto;
            background-color: $shadow82;

            .optionform{
                margin-left: auto;
                margin-right: auto;
                width: 50%;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                input{
                    margin-top: 2%;
                }
                #textinput{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1rem;
                    height: 2rem;
                    padding-left: 1%;
                    display: block;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                }
                #fileinput{
                    margin-left: auto;
                    margin-right: auto;
                    display: block;
                    font-size: 10px;
                }

                #ques-clue{
                    background-color: 	darkblue;
                    color: white;
                    height: 1.5rem;
                    margin-top: 5%;
                    font-size: 100%;
                    font-family: $ffHeading2;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    option{
                        padding: 1%;
                    }
                }
            }
            .input-radio{
                padding-top: 1rem;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
                #radio-field-1, #radio-field-2{
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 1.5rem;
                    height: 2rem;
                    padding-left: 1%;
                    display: block;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                }
                #field-label-1, #field-label-2{
                    width: 29%;
                    font-size: 10px;
                }
            }
            .correctAns{
                margin-top: 2rem;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                label{
                    font-weight: 500;
                }
                input{
                    margin-top: 1rem;
                    height: 2rem;
                    padding-left: 1%;
                    border-radius: 5px;
                    border: none;
                    outline: none;
                    box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                }
            }
            .radioButton{
                margin-top: 2.5rem;
                width: 50%;
                display: flex;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                label{
                    background-color: #c3ecf7;
                    border: none;
                }
            }
        }
        .submit-btn{
            margin-top: 5rem;
            text-align: center;
            @include button;
            padding-bottom: 1rem;
        }
    }
}
@media (min-width: 1400px) {
    .main{
        .set-details-sec{
            .form-details{
                .input-radio{
                    padding-top: 1rem;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    #radio-field-1, #radio-field-2{
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1.5rem;
                        height: 2rem;
                        padding-left: 1%;
                        display: block;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                    }
                    #field-label-1, #field-label-2{
                        width: 10rem;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .main{
        .set-details-sec{
            .form-details{
                .radioButton{
                    margin-top: 2.5rem;
                    text-align: center;
                    width: 60%;
                    display: flex;
                    margin-left: auto;
                    margin-right: auto;
                    label{
                        border: none;
                    }
                }
            }
        }
    }
    
}
@media (max-width: 767px) {
    .main{
        .category-add{
            width: 100%;
            margin-top: 5rem;
            .set-category{
                .category{
                margin-left: auto;
                margin-right: auto;
                width: 11rem;
                height: 2rem;
                padding-left: 2%;
                margin-top: 0.5rem;
            }
            }
        }
        
        .all-subject{
            width: 100%;
            text-align: center;
            .subject{
                margin-left: auto;
                margin-right: auto;
                width: 11rem;
                height: 2rem;
                padding-left: 2%;
                margin-top: 0.5rem;
            }
        }


        .set-details-sec{
            .question-type{
                .selectOption{
                    padding-left: 4%;
                    padding-right: 4%;
                }
            }
            
            .text-area{
                width: 90%;
                padding-top: 3rem;
            }
            .form-details{
                .optionform{
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;

                }

                .correctAns{
                    margin-top: 2rem;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    input{
                        margin-top: 1rem;
                        height: 2rem;
                        padding-left: 2%;
                    }
                }
                .input-radio{
                    padding-top: 1rem;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    #radio-field-1, #radio-field-2{
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1.5rem;
                        height: 2rem;
                        padding-left: 1%;
                        display: block;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                    }
                    #field-label-1, #field-label-2{
                        width: 10rem;
                        font-size: 10px;
                    }
                }
                .correctAns{
                    margin-top: 2rem;
                    width: 20rem;
                    margin-left: auto;
                    margin-right: auto;
                    label{
                        font-weight: 500;
                    }
                    input{
                        margin-top: 1rem;
                        height: 2rem;
                        padding-left: 1%;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                    }
                }
                .radioButton{
                    margin-top: 2.5rem;
                    width: 50%;
                    display: block;
                    margin-left: 2rem;
                    label{
                        border: none;
                    }
                }
            }

        }
    }

}


@media (max-width: 400px) {
    .main{
        .category-add{
            width: 100%;
            margin-top: 5rem;
            .set-category{
                .category{
                margin-left: auto;
                margin-right: auto;
                width: 11rem;
                height: 2rem;
                padding-left: 2%;
                margin-top: 0.5rem;
            }
            }
        }
        
        .all-subject{
            width: 100%;
            text-align: center;
            .subject{
                margin-left: auto;
                margin-right: auto;
                width: 11rem;
                height: 2rem;
                padding-left: 2%;
                margin-top: 0.5rem;
            }
        }


        .set-details-sec{
            .question-type{
                .selectOption{
                    padding-left: 4%;
                    padding-right: 4%;
                }
            }
            
            .text-area{
                width: 90%;
                padding-top: 3rem;
            }
            .form-details{
                .optionform{
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;

                }

                .correctAns{
                    margin-top: 2rem;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    input{
                        margin-top: 1rem;
                        height: 2rem;
                        padding-left: 2%;
                    }
                }
                .input-radio{
                    padding-top: 1rem;
                    width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    #radio-field-1, #radio-field-2{
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 1.5rem;
                        height: 2rem;
                        padding-left: 1%;
                        display: block;
                        border-radius: 5px;
                        border: none;
                        outline: none;
                        box-shadow: rgba(70, 60, 60, 0.445) 0px 2px 8px;
                    }
                }
                text-align: center;
                .correctAns{
                    margin-top: 2rem;
                    width: 15rem;
                    margin-left: auto;
                    margin-right: auto;
                    input{
                        padding-left: 2%;
                        border-radius: 5px;
                    }
                }
                .radioButton{
                    text-align: left;
                    margin-top: 2.5rem;
                    width: 100%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    label{
                        border: none;
                    }
                }
            }
            .submit-btn{
                width: 50%;
                margin-top: 5rem;
                text-align: center;
                @include button;
                padding-bottom: 1rem;
            }
        }
    }
}
