#loader{
    color: #027b9a;
    // display: flex;
    position: absolute;
    top: 45%;
    left: 47%;
    // justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18rem;
}