@import "../mixin";
@import "../var";

.test_header{
    width: 100%;
    height: 13rem;
    background-color: #027b9a;
    text-align: center;

    .navigation{
     padding-top: 5rem;
     a{
         font-family: $ffHeading;
         font-size: 2rem;
         color: rgb(255, 255, 255);
         text-decoration: none;
     }
    }
}

.result{
    margin-top: 2rem;
    .row{
        .xprofile{
            border-radius: 0.5rem;
            border: 2px solid black;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            padding: 2rem 0.5rem 2rem 0.5rem;
            min-height: 15rem;
            font-family: $ffHeading2;
            
        }
    }

    .questions{
        margin-top: 3rem;
        margin-bottom: 5rem;
        h4{
            text-align: center;
            margin-bottom: 2rem;
        }
        .table{
            width: 100%;
            color: $white;
            padding: 2rem;
            background-color: rgb(14, 2, 26);
            thead{
                th{
                    padding: 8px 0px 8px 15px;
                }
            }
            tbody{
                tr{
                    td{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .result{
        .row{
            .xprofile{
                width: 70%;
            }
        }
    }
}