@charset "UTF-8";
/* Extra */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans);
@import url("http://fonts.googleapis.com/css?family=Kdam Thmor Pro");
@import url("http://fonts.googleapis.com/css?family=Bebas Neue");
@import url("http://fonts.googleapis.com/css?family=PT Sans Narrow");
@import url("http://fonts.googleapis.com/css?family=Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css?family=Bree Serif");
.test_header {
  width: 100%;
  height: 13rem;
  background-color: #027b9a;
  text-align: center;
}

.test_header .navigation {
  padding-top: 5rem;
}

.test_header .navigation a {
  font-family: Bebas Neue;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.exam_details .row {
  margin-bottom: 2rem;
  margin-top: 3rem;
}

.exam_details .row .parent-inner {
  margin-left: 0%;
  padding-left: 0%;
}

.exam_details .row .inner {
  padding: 0% !important;
  margin-top: 3rem;
}

.exam_details .row .inner .enter-input {
  width: 100%;
  height: 2.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 90%;
  padding-left: 3%;
  padding-right: 3%;
}

.exam_details .row .inner .enter-input:focus {
  -webkit-box-shadow: #c6e1f8 3px 3px 6px 0px inset, rgba(197, 189, 189, 0.5) -3px -3px 6px 1px inset;
          box-shadow: #c6e1f8 3px 3px 6px 0px inset, rgba(197, 189, 189, 0.5) -3px -3px 6px 1px inset;
}

.exam_details .row .inner .dropdown .questions {
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.exam_details .row .inner .dropdown .questions:focus {
  -webkit-box-shadow: -1px 0px 23px 0px #7acf90;
  box-shadow: -1px 0px 23px 0px #7acf90;
  background-color: #027b9a;
  color: white;
}

.exam_details .row .inner .dropdown .dropdown-menu {
  width: 100%;
  background-color: #027b9a;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.exam_details .row .inner .dropdown .dropdown-menu .dropdown-item {
  color: white;
}

.exam_details .row .inner .dropdown .dropdown-menu .dropdown-item:hover {
  border-radius: 2rem;
  background-color: #004658;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.exam_details .row h3 {
  text-align: center;
  font-family: Bebas Neue;
}

.exam_details .row .second .test-name {
  cursor: default;
  font-size: 100%;
  position: relative;
  width: 100%;
  height: 10rem;
  text-align: center;
  margin-bottom: 2rem;
  -webkit-box-shadow: -1px 1px 13px 0px #8f7f8f;
  box-shadow: -1px 1px 13px 0px #8f7f8f;
  border-radius: 0.5rem;
}

.exam_details .row .second .test-name .note {
  font-size: 90%;
  position: absolute;
  top: 85%;
  width: 85%;
  overflow: hidden;
  background-color: #e9def3;
}

.exam_details .row .second .test-name a {
  color: #161616;
}

.exam_details .row .second .test-name .caption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0.2rem 1rem 3rem 1rem;
  word-wrap: break-word;
  max-height: 100%;
  border-radius: 0.5rem;
  background-color: #e9def3;
  overflow: hidden;
}

.exam_details .row .second .test-name .caption h4 {
  padding-top: 8px;
  font-size: 18px;
}

.exam_details .row .second .test-name .caption small {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exam_details .row .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1%;
  margin-top: 4%;
}

.exam_details .row .pagination > a {
  background-color: #ddd;
  color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 17px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
}

.exam_details .row .pagination > a:hover {
  background-color: #255225;
  color: #fff;
}

.exam_details .row .pagination > span {
  background-color: #ddd;
  color: #636363;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: 17px;
  width: 30px;
  height: 30px;
  text-decoration: none;
  position: relative;
  font-family: Helvetica, Arial, sans-serif;
  pointer-events: none;
}

.exam_details .row .pagination svg {
  height: 24px;
  width: 24px;
}

.exam_details .row .pagination > a.page-active {
  background-color: green;
  color: #fff;
}

.exam_details .row .popular h4 {
  font-weight: 600;
  text-align: center;
  font-family: Play;
}

.exam_details .row .popular .subject {
  background-color: cornflowerblue;
  padding: 1.5rem 1rem 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 0%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.exam_details .row .popular .subject ul {
  list-style: none;
  line-height: 170%;
  font-size: 1rem;
  font-family: Bree Serif;
}

.exam_details .row .popular .subject ul li::before {
  content: "✔";
  padding-right: 0.5rem;
  color: red;
}

.exam_details .row .popular .model_tests {
  background-color: cornflowerblue;
  padding: 1.5rem 1rem 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 0rem 2rem 1rem;
  padding-left: 0%;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.exam_details .row .popular .model_tests ul {
  list-style: none;
  line-height: 170%;
  font-size: 1rem;
  font-family: Bree Serif;
}

.exam_details .row .popular .model_tests ul li::before {
  content: "✔";
  padding-right: 0.5rem;
  color: red;
}

.exam_details .row .popular .bcs {
  background-color: cornflowerblue;
  padding: 1.5rem 1rem 1rem 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 2rem 0rem 2rem 1rem;
  padding-left: 1rem;
  background-color: white;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.exam_details .row .popular .bcs h4 {
  text-align: center;
  margin-right: 2rem;
}

.exam_details .row .popular .bcs ul {
  list-style: none;
  line-height: 170%;
  font-size: 1rem;
  font-family: Bree Serif;
}

.exam_details .row .popular .bcs ul li::before {
  content: "✔";
  padding-right: 0.5rem;
  color: red;
}

@media (max-width: 991px) {
  .exam_details .row .popular .subject {
    width: 11rem;
  }
  .exam_details .row .popular .subject ul {
    font-size: 0.8rem;
    padding-left: 10%;
  }
  .exam_details .row .popular .model_tests {
    width: 11rem;
  }
  .exam_details .row .popular .model_tests ul {
    font-size: 0.8rem;
    padding-left: 7%;
  }
  .exam_details .row .popular .bcs {
    width: 11rem;
  }
  .exam_details .row .popular .bcs ul {
    font-size: 0.8rem;
    padding-left: 2%;
  }
}

@media (max-width: 767px) {
  .exam_details .row .inner {
    padding: 0% !important;
    margin-top: 3rem;
  }
  .exam_details .row .inner .enter-input {
    width: 100%;
    font-size: 90%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
  }
  .exam_details .row .inner .dropdown .questions {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
  }
  .exam_details .row .inner .dropdown .dropdown-menu {
    width: 50%;
  }
  .exam_details .row .second {
    margin-top: 15%;
  }
  .exam_details .row .second .test-name .caption {
    padding: 1rem 1rem 3rem 1rem;
  }
  .exam_details .row .second .test-name .caption .note {
    margin-top: 20%;
  }
  .exam_details .row .popular {
    margin-top: 15%;
  }
  .exam_details .row .popular .subject {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
  }
  .exam_details .row .popular .subject ul {
    font-size: 0.8rem;
    padding-left: 10%;
  }
  .exam_details .row .popular .model_tests {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
  .exam_details .row .popular .model_tests ul {
    font-size: 0.8rem;
    padding-left: 8%;
  }
  .exam_details .row .popular .bcs {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
  }
  .exam_details .row .popular .bcs ul {
    font-size: 0.8rem;
    padding-left: 2%;
  }
}

@media (max-width: 575px) {
  .exam_details .row .inner {
    padding: 0% !important;
    margin-top: 3rem;
  }
  .exam_details .row .inner .enter-input {
    margin-left: 22%;
    width: 60%;
    font-size: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  .exam_details .row .inner .dropdown .questions {
    width: 50%;
    margin-top: 5%;
    margin-left: 27%;
  }
  .exam_details .row .inner .dropdown .dropdown-menu {
    width: 50%;
  }
  .exam_details .row .second {
    margin-top: 15%;
  }
  .exam_details .row .second .test-name {
    width: 60%;
    margin-left: 22%;
  }
  .exam_details .row .second .test-name .caption {
    padding: 1rem 1rem 3rem 1rem;
  }
  .exam_details .row .second .test-name .caption .note {
    margin-top: 15%;
  }
  .exam_details .row .pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1%;
    margin-top: 4%;
    margin-left: 5%;
  }
  .exam_details .row .pagination > a {
    background-color: #ddd;
    color: #636363;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    font-size: 13px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
  }
  .exam_details .row .pagination > a:hover {
    background-color: #255225;
    color: #fff;
  }
  .exam_details .row .pagination > span {
    background-color: #ddd;
    color: #636363;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    font-size: 13px;
    width: 25px;
    height: 25px;
    text-decoration: none;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    pointer-events: none;
  }
  .exam_details .row .pagination svg {
    height: 20px;
    width: 20px;
  }
  .exam_details .row .pagination > a.page-active {
    background-color: green;
    color: #fff;
  }
  .exam_details .row .popular {
    margin-top: 15%;
  }
  .exam_details .row .popular .subject {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
  }
  .exam_details .row .popular .subject ul {
    font-size: 0.8rem;
    padding-left: 10%;
  }
  .exam_details .row .popular .model_tests {
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
  }
  .exam_details .row .popular .model_tests ul {
    font-size: 0.8rem;
    padding-left: 8%;
  }
  .exam_details .row .popular .bcs {
    margin-left: auto;
    margin-right: auto;
    width: 15rem;
  }
  .exam_details .row .popular .bcs ul {
    font-size: 0.8rem;
    padding-left: 2%;
  }
}

@media (max-width: 362px) {
  .exam_details .row h3 {
    margin-left: 2%;
  }
  .exam_details .row .inner {
    padding: 0% !important;
    margin-top: 2rem;
  }
  .exam_details .row .inner .enter-input {
    margin-left: 17%;
    width: 70%;
    font-size: 80%;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
  }
}
/*# sourceMappingURL=exam_details.css.map */