/* Extra */
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans);
@import url("http://fonts.googleapis.com/css?family=Kdam Thmor Pro");
@import url("http://fonts.googleapis.com/css?family=Bebas Neue");
@import url("http://fonts.googleapis.com/css?family=PT Sans Narrow");
@import url("http://fonts.googleapis.com/css?family=Rajdhani");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css?family=Bree Serif");
.test_header {
  width: 100%;
  height: 13rem;
  background-color: #027b9a;
  text-align: center;
}

.test_header .navigation {
  padding-top: 5rem;
}

.test_header .navigation a {
  font-family: Bebas Neue;
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.allabout {
  margin-top: 5%;
}

.allabout h3 {
  font-family: Bebas Neue;
}

.allabout .row {
  outline: none;
  border: none;
}

.allabout .row .mission-image img {
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
}

.allabout .col {
  outline: none;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.about-details {
  margin-top: 10%;
}

.about-details .row {
  border-radius: 4px;
}

.about-details .row .column .card {
  background-color: #027c9a;
  outline: none;
  border: none;
}

.about-details .row .column .card span {
  color: #f80a0a;
}

.about-details .row .column .card-header {
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.about-details .row .column .card-header a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-family: Play;
  font-size: 1rem;
}

.about-details .row .column .card-header:hover {
  -webkit-box-shadow: rgba(56, 95, 102, 0.37) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
          box-shadow: rgba(56, 95, 102, 0.37) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border-left: 5px solid tomato;
}

.about-accordian {
  margin-top: 10%;
  margin-bottom: 5rem;
}

.about-accordian h4 {
  font-family: Bebas Neue;
}

.about-accordian .image {
  height: 100%;
  margin-top: 5%;
}

.about-accordian .accordion-button {
  color: #027b9a;
  font-weight: bold;
  font-family: Bree Serif;
}

.about-accordian .accordion-button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@media (max-width: 767px) {
  .allabout {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  .allabout h3 {
    font-family: Bebas Neue;
  }
  .allabout .row {
    outline: none;
    border: none;
  }
  .allabout .row .mission-image img {
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
  }
  .allabout .col {
    outline: none;
    border: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  }
  .about-details .row .column {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-details .row .column .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .about-details .row .column .card a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-family: Play;
  }
  .about-accordian {
    margin-top: 10%;
    margin-bottom: 5rem;
  }
  .about-accordian .accordian {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .about-accordian .accordian h4 {
    font-family: Bebas Neue;
  }
  .about-accordian .accordian .image {
    height: 100%;
    margin-top: 5%;
    margin-bottom: 6%;
  }
  .about-accordian .accordian .accordion-button {
    color: #027b9a;
    font-weight: bold;
    font-family: Bree Serif;
  }
  .about-accordian .accordian .accordion-button:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
/*# sourceMappingURL=about.css.map */